# Catkin Workspace
# ros-app
/ros-app/build
/ros-app/devel
/ros-app/devel_isolated
/ros-app/el
/ros-app/el_isolated
/ros-app/logs
/ros-app/.catkin_tools
/ros-app/.vscode

# rosrobot-hello
/rosrobot-hello/build
/rosrobot-hello/devel
/rosrobot-hello/devel_isolated
/rosrobot-hello/el
/rosrobot-hello/el_isolated
/rosrobot-hello/logs
/rosrobot-hello/.catkin_tools
/rosrobot-hello/.vscode

# ======================
# ROS snapcraft build
# ======================
# ros-base
/ros-base/parts
/ros-base/prime
/ros-base/ros-base_1.0_amd64.snap
/ros-base/snap/.snapcraft
/ros-base/stage/
/ros-base/ros-base.tar.bz2

# ros-app
/ros-app/parts
/ros-app/prime
/ros-app/ros-app_1.0_amd64.snap
/ros-app/snap/.snapcraft
/ros-app/stage/
/ros-app/ros-base.tar.bz2

# rosrobot-hello
/rosrobot-hello/parts
/rosrobot-hello/prime
/rosrobot-hello/rosrobot-hello_1.0_amd64.snap
/rosrobot-hello/snap/.snapcraft
/rosrobot-hello/stage/
/rosrobot-hello/ros-base.tar.bz2

# Other repositories

.ycm_extra_conf.py

