# Catkin Workspace
# ros-app
/ros-app/build
/ros-app/devel
/ros-app/devel_isolated
/ros-app/el
/ros-app/el_isolated
/ros-app/logs
/ros-app/.catkin_tools
/ros-app/.vscode

# ros-app-py
/ros-app-py/build
/ros-app-py/devel
/ros-app-py/devel_isolated
/ros-app-py/el
/ros-app-py/el_isolated
/ros-app-py/logs
/ros-app-py/.catkin_tools
/ros-app-py/.vscode

# rosrobot-hello
/rosrobot-hello/build
/rosrobot-hello/devel
/rosrobot-hello/devel_isolated
/rosrobot-hello/el
/rosrobot-hello/el_isolated
/rosrobot-hello/logs
/rosrobot-hello/.catkin_tools
/rosrobot-hello/.vscode

# rosrobot-interface
/rosrobot-interface/build
/rosrobot-interface/devel
/rosrobot-interface/devel_isolated
/rosrobot-interface/el
/rosrobot-interface/el_isolated
/rosrobot-interface/logs
/rosrobot-interface/.catkin_tools
/rosrobot-interface/.vscode

# rosrobot-proto1
/rosrobot-proto1/build
/rosrobot-proto1/devel
/rosrobot-proto1/devel_isolated
/rosrobot-proto1/el
/rosrobot-proto1/el_isolated
/rosrobot-proto1/logs
/rosrobot-proto1/.catkin_tools
/rosrobot-proto1/.vscode
/rosrobot-proto1/.catkin_workspace


# ======================
# ROS snapcraft build
# ======================
# ros-base
/ros-base/parts
/ros-base/prime
/ros-base/ros-base_1.0_amd64.snap
/ros-base/snap/.snapcraft
/ros-base/stage/
/ros-base/ros-base.tar.bz2

# ros-app
/ros-app/parts
/ros-app/prime
/ros-app/ros-app_1.0_amd64.snap
/ros-app/snap/.snapcraft
/ros-app/stage/
#/ros-app/ros-base.tar.bz2

# rosrobot-hello
/rosrobot-hello/parts
/rosrobot-hello/prime
/rosrobot-hello/rosrobot-hello_1.0_amd64.snap
/rosrobot-hello/snap/.snapcraft
/rosrobot-hello/stage/
/rosrobot-hello/ros-base.tar.bz2

# rosrobot-interface
/rosrobot-interface/parts
/rosrobot-interface/prime
/rosrobot-interface/rosrobot-interface.0_amd64.snap
/rosrobot-interface/snap/.snapcraft
/rosrobot-interface/stage/
/rosrobot-interface/ros-base.tar.bz2

# ros-app-py
/ros-app-py/parts
/ros-app-py/prime
/ros-app-py/ros-app-py_1.0_amd64.snap
/ros-app-py/snap/.snapcraft
/ros-app-py/stage/
/ros-app-py/ros-base.tar.bz2

# Other repositories

.ycm_extra_conf.py

.vscode/settings.json
DevelopmentProcess/Distributing a ROS system among multiple snaps _ Ubuntu Insights.pdf
ros-app-py/.ycm_extra_conf.pyc
